{% extends "base.html" %}
{% set title = "Liczby" %}
{% block content %}

<p>
    Tutaj będzie wyjaśnione trochę o sytemach liczbowych oraz sporo o tym jak liczby się zapisywane i używane w procesorach.
</p>

<p>
    Najpierw nalezy wyjasnić, że zależnie od systemu, liczbę można zapisać na wiele sposobów.
    Jest ich sporo, weźmy sobie liczbę <em>65</em> możemy przedstawić jako:
    <div class="center-block">
        <table class="table table-center">
            <tr>
                <td>65</td>
                <td>LXV</td>
                <td>٦٥</td>
            </tr>
            <tr>
                <td>0b1000001</td>
                <td>0x41</td>
                <td>0o101</td>
            </tr>
            <tr>
                <td><img src="static/babilon.png" /></td>
                <td>🍎</td>
                <td>A</td>
            </tr>
        </table>
    </div>
</p>

<p>
    Mamy dwa główne systemy zapisów liczb:
    <ul>
        <li>Addytywny - dodajemy elementy do siebie (system jedynkowy, rzymski)</li>
        <li>Pozycyjny - pozycja cyfry w zapisie jest wieloktronością danej potęgi (binarny, arabski, trójkowy zrównoważony)</li>
    </ul>

    Zajmiemy się głównie systemem pozycyjnym.
</p>

<p>
    Ok, dobra, ale jak działają liczby w komputerze?
    Zacznijmy od tego, że mamy generalnie dwa typy liczb w procesorach: zmiennoprzecinkowe (float) oraz całkowite (integer).
</p>

<p>
    Zacznijmy najpierw od dodatnich całkowitych, a tak naprawdę od jednego oraz dwóch bitów by zrozumieć jak działa zapisywanie oraz dodawanie.
    Bit ma dwie wartości:
    <ul>
        <li>wysoki (<b>H</b> lub <b>1</b>) </li>
        <li>oraz niski (<b>L</b> lub <b>0</b>) </li>
        <li>stosowany w elektronice - wysokiej impedancji - używa się go gdy wejście nie jest do niczego podłączone </li>
    </ul>
</p>

<p>
    W praktyce mamy 4 "podstawowe" operacje na bitach:
    <ul>
        <li><b>OR</b>  (lub) - jak któryś bit jest <b>1</b> to wynik wynosi <b>1</b>, w przeciwnym przypadku <b>0</b></li>
        <li><b>NOT</b> (negacja, inwersja) - odwraca bit</li>
        <li><b>AND</b> (i) - jak któryś bit jest <b>0</b> to wynik wynosi <b>0</b>, w przeciwnym przypadku <b>1</b></li>
        <li><b>XOR</b> (alternatywa) - jeżeli dwa bity się różnią, to wynik wynosi <b>1</b>, w przeciwnym przypadku <b>0</b></li>
    </ul>

</p>

<p>
    Sam procesor robi już operacje na rejestrach - czyli liście bitów. To jest ważne, by nie patrzeć na rejestr jako liczbę a raczej jako "stan". Taki sam stan bitów może oznaczać calkowicie inną wartość - wszystko zależy jak ją zinterpretujemy.
</p>

<p>
    Załóżmy, że mamy procesor który operuje na 4bitowych słowach - takowe nie istnieją, ale pomogą zrozumieć działanie.
</p>

<div id="logic-operators"></div>

<p>
    Ok, jak już rozumiemy podstawowe operacje, czas zrozumieć jak możemy zapisać liczbę. Przypomnijmy sobie jak wygląda to w systemie dziesiętnym:
    <br /><br />
    <em>
        1023<small>(10)</small>
        = 1·10³ + 0·10² + 2·10¹ + 3·10⁰
    </em>
    <br /><br />
    Tak samo możemy zapisac binarnie liczby, tylko zamiast liczb 0-9 oraz podstawy 10, będziemy mieć liczby 0-1 oraz podstawę 2:
    <br /><br />
    <em>
        1010<small>(2)</small>
        = 1·2³ + 0·2² + 1·2¹ + 0·2⁰ = 1·8 + 0·4 + 1·2 + 0·1 = 8 + 2
        = 10<small>(10)</small>
    </em>
</p>

<p>
     To czas przejść jak działa dodawanie. Najpierw trochę matematyki w systemie binarnym
     <a href="https://eduinf.waw.pl/inf/alg/006_bin/0010.php">(więcej tutaj o liczbach)</a>:

    <ul>
        <li>x + y = cs</li>
        <li>0 + 0 = 00</li>
        <li>1 + 0 = 01</li>
        <li>0 + 1 = 01</li>
        <li>1 + 1 = 10</li>
    </ul>

    Jeżeli to rozbijemy na dwa osobne bity:

    <ul>
        <li>x + y = s</li>
        <li>0 + 0 = 0</li>
        <li>1 + 0 = 1</li>
        <li>0 + 1 = 1</li>
        <li>1 + 1 = 0</li>
    </ul>
    <ul>
        <li>x + y = c</li>
        <li>0 + 0 = 0</li>
        <li>1 + 0 = 0</li>
        <li>0 + 1 = 0</li>
        <li>1 + 1 = 1</li>
    </ul>

    To wychodzą nam dwie funkcje:
    <ul>
        <li>s = XOR(x, y)</li>
        <li>c = AND(x, y)</li>
    </ul>

    Gratulacje - zrobiliśmy układ zwany <i>pół sumatorem (half-adder)</i>,
    który ma dwa bity wyjścia - wynik dodawania (s, od <i>sum</i>) oraz bit przenośny (c, od <i>carry</i>).
    metoda przypomina bardzo dodawanie w słupku (mieliśmy takie coś w szkole podstawowej, tak napewno było, a później odkryliśmy kalkulatory)
</p>

<p> Czas na pełny sumator: </p>

<img src="static/adder.png" />

<p>
    Różnica między pół a pełnym sumatorem jest taka, że doszedł trzeci argument - carry z poprzedniego bitu (wciąż nas prześladuje dodawanie w słupku).
    Przy pomocy N sumatorów możemy dodawać liczby N bitowe. czyli do typu <b>int</b>, który ma 32 bity, potrzebujemy w procesorze 32 sumatory.
</p>

<p>
    Ok, jak już ogarniamy sumatory i bit przenośny (carry), to możemy dodawać liczby:
</p>

<div id="add-1"></div>

<p>
    Co się stało w linijce 3? wystapiło przepełnienie rejestru - w tej linijce zrobiliśmy operację 12 + 4 = 16, do którego potrzebujemy 5 bitów, a nasz procesorek ma tylko 4 bity. Ale nie jest źle - bo ustawiła się flaga CARRY w procesorze która informuje, że przy dodawaniu ostatni bit miał przeniesienie.
</p>

<p>
Niestety ze wględu, że liczby całkowite są w stanie się przekręcić jak licznik w samochodzie, może doprowadzić do niefajnych błędów jak np. w grze Civilization1 - poziom agresji był zapisywany w 1 bajcie (8bitów). Gandhi jako władca dawał 1 poziom agresji. Jezeli wybrało sie ustrój demokracja która obniżała poziom agresji to poziom się przekręcał z 1 - 2 = 255 (przekręcilśmy w drugą stronę, 255 to największa 8bitowa wartość) co doprowadzało automatycznie do wojny atomowej (sic!) - więcej <a href="https://civilization.fandom.com/wiki/Mohandas_Gandhi_(Civ1)">Tutaj</a>
</p>

<p> tak samo działo się w grze pacman - gdy przeszło się poziom 255 miał nastąpić poziom 256, ale ze względu na 8 bitów przesunął sie na poziom 0. I ze względu na warunek <strong>for(i=1; i != LEVEL; i++)</strong> doprowadzało do zgliczowania <a href="https://pacman.fandom.com/wiki/Map_256_Glitch">mapy</a> </p>

<p> Możemy wykorzystać flagę CARRY, jezeli chcemy w naszym 4bitowym procesorku zrobić operacji 8 bitowe. W poniższym przykładzie zrobimy w pseudo-ASM sumę 0x8 + 0x88 (8 bitowej). Użyjemy tutaj rozkazu ADD oraz ADC (Add with Carry) </p>

<div id="add-2"></div>

<p>
    Jak dotrwaliście do końca - to pewnie zauważyliście, że dodatkowy bit z operacji z 1 linijki, przeniósł się do operacji z 2 linijki.
</p>

<p>
    Pojawił się też problem - teraźniejsze procesory potrafią operować na rejestrach 8bitowych, 16bitowych, 32 oraz 64 (oraz większe ale to już inny temat). I teraz - w jakiej kolejności zapisywać kolejne komórki pamięci? Od najwyższego bajtu czy od najniższego?
</p>

<p>
    Odpowiedź to <b>zależy</b>. Mamy dwa kolejności - Big Endian (pierwszy jest zapisywany najwyższy bajt) oraz Little Endian (zapisywany najniższy bajt jako pierwszy). Są różne formaty plików oraz różne procesory które obsługują taki zapis lub taki zapis. My jednak przyjmiemy zapis Little Endian bo tak w tej chwili działają najpopularniejsze procesory (czyli x86, AVR czy ARM)
</p>

<img src="static/endian.png" />

<p> Ok, a co z liczbami ujemnymi? </p>

<p>
    Sposobów są kilka, najpopularniejszy dla liczb całkowitych jest zapis 2C (U2):
    <ol>
        <li>Najstarszy bit jest bitem znaku (<b>0</b> to dodatnia, <b>1</b> to ujemna)</li>
        <li>Najstarszy bit ma wagę -2ⁿ⁻¹</li>
        <li>Pozostałe bity są liczone jak w poprzednim systemie</li>
        <li>Odwrócenie znaku robi się przez inwersję wszystkich bitów i odjęcie 1</li>
        <li>Dodawanie oraz odejmowanie liczy się tak samo jak w systemie nieznakowym</li>
        <li><a href="https://eduinf.waw.pl/inf/alg/006_bin/0018.php">Więcej tutaj</a>
    </ol>
</p>

<p>
    Możemy porównać dwa systemy - nieznakowy oraz U2 (istnieją jeszcze inne ale to jest temat przy piwie)

    <div class="center-block">
        <table class="table table-center">
            <tr>
                <th>Bity</th>
                <th>Beznakowy</th>
                <th>U2</th>
            </tr>
            <tr>
                <td>0000</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>0001</td>
                <td>1</td>
                <td>1</td>
            </tr>
            <tr>
                <td>0010</td>
                <td>2</td>
                <td>2</td>
            </tr>
            <tr>
                <td>…</td>
                <td>…</td>
                <td>…</td>
            </tr>
            <tr>
                <td>0111</td>
                <td>7</td>
                <td>7</td>
            </tr>
            <tr>
                <td>1000</td>
                <td>8</td>
                <td>-8</td>
            </tr>
            <tr>
                <td>1001</td>
                <td>9</td>
                <td>-7</td>
            </tr>
            <tr>
                <td>…</td>
                <td>…</td>
                <td>…</td>
            </tr>
            <tr>
                <td>1110</td>
                <td>14</td>
                <td>-2</td>
            </tr>
            <tr>
                <td>1111</td>
                <td>15</td>
                <td>-1</td>
            </tr>
        </table>
    </div>
</p>

<p> No to przykładzik: </p>

<div id="add-3"></div>

<p>
    Podobnie jak w systemie bezznakowym przekręcenie licznika jest kosztowne - w grze Transport Tycoon (dziadek OpenTTD) była możliwość stworzenia tak długiego mostu, że koszt był tak duży (16bitowy znakowy), że zmieniał się znak i cena budowy była ujemna :-).
</p>

{% endblock %}
{% block script %}
<script>
    new Example(byId('logic-operators'), [
        { action: 'set $X 5; set $Y 3',          line: 'uint4 x = 0x5, y = 0x3;' },
        { action: 'set $NEG &$X; neg4 $NEG',     line: 'uint4 neg = ~x;' },
        { action: 'set $OR &$X;  or4 $OR &$Y',   line: 'uint4 or = x | y;' },
        { action: 'set $AND &$X; and4 $AND &$Y', line: 'uint4 and = x & y;' },
        { action: 'set $XOR &$X; xor4 $XOR &$Y', line: 'uint4 xor = x ^ y;' },
        { action: 'nop', line: ''},
    ], [
        new StackComponent({ start: 0, size: 8 }),
        new CodeComponent(),
    ], {
        availableFlags: CpuFlags,
        stackSize: 8,
        stackLabels: {
            X:   { index: 0, render: ['bit4', 'dec_u8'] },
            Y:   { index: 1, render: ['bit4', 'dec_u8'] },
            NEG: { index: 2, render: ['bit4', 'dec_u8'] },
            OR:  { index: 3, render: ['bit4', 'dec_u8'] },
            AND: { index: 4, render: ['bit4', 'dec_u8'] },
            XOR: { index: 5, render: ['bit4', 'dec_u8'] },
        }
    });
    new Example(byId('add-1'), [
        { action: 'set4 $A 0',          line: 'uint4 a = 0x0;' },
        { action: 'add4 $A 10',         line: 'a += 0xA;' },
        { action: 'add4 $A 2',          line: 'a += 0x2;' },
        { action: 'add4 $A 4',          line: 'a += 0x4;' },
        { action: 'nop', line: ''},
    ], [
        new StackComponent({ start: 0, size: 8 }),
        new FlagsComponent(),
        new CodeComponent(),
    ], {
        availableFlags: CpuFlags,
        stackSize: 8,
        stackLabels: {
            A:   { index: 0, render: ['bit4', 'dec_u8'] },
        }
    });
    new Example(byId('add-2'), [
        { action: 'set4 $A 8; set4 $B 0', line: 'SET A 0x8; SET B 0x0' },
        { action: 'add4 $A 8',            line: 'ADD A 0x8;' },
        { action: 'adc4 $B 8',            line: 'ADC B 0x8;' },
        { action: 'nop', line: ''},
    ], [
        new StackComponent({ start: 0, size: 8 }),
        new FlagsComponent(),
        new CodeComponent(),
    ], {
        availableFlags: CpuFlags,
        stackSize: 8,
        stackLabels: {
            A:   { index: 0, render: ['bit4', 'dec_u8'] },
            B:   { index: 1, render: ['bit4', 'dec_u8'] },
        }
    });
    new Example(byId('add-3'), [
        { action: 'set8 $A 255',        line: 'unsigned char a = 0xFF;' },
        { action: 'set8 $B &$A',        line: 'char b = a;' },
        { action: 'nop', line: ''},
    ], [
        new StackComponent({ start: 0, size: 8 }),
        new FlagsComponent(),
        new CodeComponent(),
    ], {
        availableFlags: CpuFlags,
        stackSize: 8,
        stackLabels: {
            A:   { index: 0, render: ['bit8', 'dec_u8'] },
            B:   { index: 1, render: ['bit8', 'dec_s8'] },
        }
    });
</script>
{% endblock %}
